:root.theme-dark {
  --accent-color: #ff0070;
  --accent-color-transparent: rgb(255 0 112 / 0.4);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --decorated-title-color: #000028;
  --button-color: #ff0070;
  --cover-image: url('../images/cover-image-dark.png');
}

:root.theme-dark .rec-label {
  display: flex;
}
