@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 0.4);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --decorated-title-color: #353430;
    --button-color: #353430;
    --cover-image: url('../images/cover-image-light.png');
  }

  .rec-label {
    display: none;
  }
}

:root.theme-light {
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 0.4);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --decorated-title-color: #353430;
  --button-color: #353430;
  --cover-image: url('../images/cover-image-light.png');
}

:root.theme-light .rec-label {
  display: none;
}
